body {
  font-size: 14px;
  line-height: 26px;
  color: #424141;
  font-weight:bold;
  font-family: "PT Sans";
}
header {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans";
}

h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight:regular;
  font-family: "PT Sans";
}
